  body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
  }
  
.raio{
  position: relative;
  width: 80%;
  left: -500px;
  top: 250px;
  height: 500px;
  margin: 0% 10%;
  transform: scale(200%) rotateZ(-5deg);
  z-index: -9999999;
}

.parte-um{
  position: absolute;
  background-color: yellow;
  right: 240px;
  top: 50px;
  width: 150px;
  height: 400px;
  transform-style: preserve-3d;
  transform: rotatez(55deg);
}

.parte-dois{
  position: absolute;
  background-color: yellow;
  right: 385px;
  top: 110px;
  width: 150px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotatez(-35deg);
}

.parte-tres{
  position: absolute;
  background-color: yellow;
  right: 620px;
  top: 30px;
  width: 150px;
  height: 600px;
  transform-style: preserve-3d;
  transform: rotatez(55deg);
}
.canto-direito{
  position: absolute;
  right: -50px;
  bottom: -30px;
  width: 100px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  transform:rotateZ(15deg)
}
.canto-esquerdo{
  position: absolute;
  right: 100px;
  bottom: -30px;
  width: 100px;
  height: 650px;
  background-color: rgb(255, 255, 255);
  transform:rotateZ(-5deg)
}

  .sala{
    position: relative;
    top: -400px;
    width: 100%;
    height: 900px;
    transform-style: preserve-3d;   
    transform: rotateX(-30deg);
  }
  
  .sala div {
    position: absolute;
    top: 0;
    left: 25%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  
  .sala div span{
    position: absolute;
    top: 0;
    left: 0;
    background:#232324;
    border: solid 10px ;
    border-image: linear-gradient(to left, #00000060, #23232430) 1;
  }
    
   .sala-front, .sala-baixo, .sala-right{
    width: 30%;
    height: 58%;
  }

  .sala-back{
    width: 27.5%;
    height: 58%;
    transform: translatey(100px) rotateY(-30deg) translateX(-8%);
  }

  #direita{
    background-color: rgba(0, 0, 0, 0.418);
  }

  .sala-front{
    transform: translatey(150px) translatex(-75%) rotateY(60deg);
  }
  
  .sala-baixo{
    transform: translatey(485px) translatex(-36%) rotateY(60deg) rotateX(90deg) ;
  }
  .sala-right{
    transform: translatez(525px) translatex(4%) rotateY(60deg);
  }

  .cubo{
    position: relative;
    top: -1050px;
    left: 470px;
    transform-style: preserve-3d;
    width: 150px;
    height: 150px;
    transform: rotatey(20deg) rotateX(-2deg);
  }
  
  .cubo div {
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation: animate 5s linear infinite;
  }
  
  .cubo div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: #151515;
    border: #000 solid 2px;
  }
  
  .cubo-a{
    transform: rotateY(0deg) translateZ(75px);
  }
  
  .cubo-b{
    transform: rotateY(90deg) translateZ(75px);
  }
  
  .cubo-c{
    transform: rotateY(180deg) translateZ(75px);
  }
  
  .cubo-d{
    transform: rotateY(270deg) translateZ(75px);
  }

  .container-pilar{
    position: relative;
    top: -1050px;
    left: 450px;
    transform-style: preserve-3d;
  }

  .container-pilar div {
    transform-style: preserve-3d;
    transform: rotatey(20deg) rotateX(-2deg);
  }

  .topo-pilar{
    position: absolute;
    top: 50px;
    left: -25px;
    transform-style: preserve-3d;
    width: 120px;
    height: 20px;
  }

  .topo-pilar div {
    position: absolute;
    width: 120px;
    height: 20px;
    transform-style: preserve-3d; 
    animation: animateInv 5s linear infinite; 
  }

  .topo-pilar div span{
    position: absolute;
    width: 120px;
    height: 20px;
    background: blanchedalmond;
    border: #000 solid 2px;
  }

  .topo-pilar-a{
    transform: rotateY(0deg) translateZ(60px);
  }

  .topo-pilar-b{
    transform: rotateY(90deg) translateZ(60px);
  }
    
  .topo-pilar-c{
    transform: rotateY(180deg) translateZ(60px);
  }
  
  .topo-pilar-d{
    transform: rotateY(270deg) translateZ(60px);
  }

  .pilar{
    position: absolute;
    top: 70px;
    left: -10px;
    transform-style: preserve-3d;
    width: 90px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0);
    
  }

  .pilar div {
    position: absolute;
    width: 90px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animateInv 5s linear infinite;
  }

  .pilar div span{
    position: absolute;
    width: 90px;
    height: 200px;
    background: blanchedalmond;
    border: rgb(0, 0, 0) solid 2px;
  }
  .pilar-a{
    transform: rotateY(0deg) translateZ(45px);
  }

  .pilar-b{
    transform: rotateY(90deg) translateZ(45px);
  } 
    
  .pilar-c{
    transform: rotateY(180deg) translateZ(45px);
  }
  
  .pilar-d{
    transform: rotateY(270deg) translateZ(45px);
  }

  .bottom-pilar{
    position: absolute;
    top: 270px;
    left: -25px;
    transform-style: preserve-3d;
    width: 120px;
    height: 20px;
  }

  .bottom-pilar div {
    position: absolute;
    width: 120px;
    height: 20px;
    transform-style: preserve-3d;
    animation: animateInv 5s linear infinite;
  }

  .bottom-pilar div span{
    position: absolute;
    width: 120px;
    height: 20px;
    background: rgb(241, 234, 198);
    border: #000 solid 2px;
  }
  
  .bottom-pilar-a{
    transform: rotateY(0deg) translateZ(60px);
  }

  .bottom-pilar-b{
    transform: rotateY(90deg) translateZ(60px);
  } 
    
  .bottom-pilar-c{
    transform: rotateY(180deg) translateZ(60px);
  }
  
  .bottom-pilar-d{
    transform: rotateY(270deg) translateZ(60px);
  }

  .menu-textos{
    position: relative;
    top: -1300px;
    right: -1100px;
    width: 40%;
    height: 700px;
  }

  .linha-texto, .linha-texto-a{
    width: 80%;
    height: 200px;
    background-color: white;
    border: rgb(0, 0, 0) 8px dashed;
    font-weight: bold;
    font-size: 18px;
    padding: 1%;
    margin: 10% 5%;
  }
  
  .linha-texto{
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 0%;
  }  
  .linha-texto-a{
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-right: 5%;
  } 

  @keyframes animate {
    0%
    {
        transform: rotateX(0deg) rotateY(0deg);
    }
    
    100%
    {
        transform: rotateX(0deg) rotateY(360deg);
    } 
  }

  @keyframes animateInv {
    0%
    {
        transform: rotateX(0deg) rotateY(360deg);
    }
    
    100%
    {
        transform: rotateX(0deg) rotateY(0deg);
    } 
  }

  @media only screen and (max-device-width: 1430px) {
    .sala{
      height: 700px;
    }

     .sala-front, .sala-baixo, .sala-right{
      width: 25%;
      height: 45%;
    }
  
    .sala-back{
      width: 23%;
      height: 45%;
      transform: translatey(70px) rotateY(-30deg) translateX(-8%);
    }
  
    .sala-front{
      transform: translatey(100px) translatex(-75%) rotateY(60deg);
    }
    
    .sala-baixo{
      transform: translatey(300px) translatex(-35%) rotateY(60deg) rotateX(90deg) ;
    }
    .sala-right{
      transform: translatez(330px) translatex(4%) rotateY(60deg);
    }
  
    .container-pilar{
      position: absolute;
      top: 950px;
      left: 350px;
      height: auto;
    }

    .topo-pilar{
      margin-left: -18px;
      margin-bottom: -15px;
      width: 80px;
      height: 20px;
    }
  
    .pilar{
      width: 45px;
      height: 100px;
    }
    .pilar-sombreado{
      margin: 40%;
      width: 15px;
      height: 100px;
      background-color: rgb(255, 221, 170);
    }
    
    .bottom-pilar{
      margin-left: -18px;
      width: 80px;
      height: 20px;
    }

    .cubo{
      top: 810px;
      left: 320px;
      width: 100px;
      height: 100px;
    }

    .cubo div {
      width: 100px;
      height: 100px;
    }
       
    .cubo div span{
      width: 100px;
      height: 100px;
    }

    .cubo-a{
      transform: rotateY(0deg) translateZ(50px);
    }
    
    .cubo-b{
      transform: rotateY(90deg) translateZ(50px);
    }
    
    .cubo-c{
      transform: rotateY(180deg) translateZ(50px);
    }
    
    .cubo-d{
      transform: rotateY(270deg) translateZ(50px);
    }

    .menu-textos{
      top: 650px;
      right: 50px;
      width: 40%;
      height: 900px;
    }
  
    .linha-texto, .linha-texto-a, .linha-texto-b{
      height: 150px;
      border: rgb(0, 0, 0) 3px solid;
      font-weight: bold;
      font-size: 16px;
      padding: 2%;
      margin: 10% 5%;
    }
    
    .linha-texto, .linha-texto-b{
      border-left: none;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }  
    .linha-texto-a{
      border-right: none;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    } 

    .raio{
      top: 700px;  
      width: 80%;
      left: -400px;
      transform: scale(90%) rotateZ(-20deg);
    }
}